# WebScrapping - Compilateur d'odfres de stages / emplois

## Imports

In [1]:
%load_ext autoreload
%autoreload 2

In [21]:
%reload_ext autoreload

In [2]:
import bs4
from bs4 import BeautifulSoup
import selenium
import requests
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import copy
import streamlit as st
from utils.selenium import element_exists, bypass_captcha, wait_for, hcaptcha_solution
from utils.processing.indeed import enter_indeed_parameters, setup_indeed, pre_login
from utils.login import login_google, login_indeed
from utils.scrapping.indeed import get_job_data
from utils.threading import init_drivers

# code qui marche

In [3]:
from utils.threading import init_drivers
from utils.processing.indeed import login_indeed_from_scratch

email = "scrapperselenium@gmail.com"
password= "Password123!*"
job = "Data Analyst"
city = "Paris"
#4 drivers
drivers = init_drivers(4,func=login_indeed_from_scratch, args=[email, password], nb_pages=1)
print(drivers)
#drivers[0] = enter_indeed_parameters(drivers[0], job, city)

len_driver 1 [[]]
0
range: 4
<selenium.webdriver.chrome.webdriver.WebDriver (session="58b43d9e79ef3a8adb87b2830262e94f")>
<selenium.webdriver.chrome.webdriver.WebDriver (session="58b43d9e79ef3a8adb87b2830262e94f")>
<selenium.webdriver.chrome.webdriver.WebDriver (session="2702ae1d2f5cadc7822bdee42571df5a")>
<selenium.webdriver.chrome.webdriver.WebDriver (session="2702ae1d2f5cadc7822bdee42571df5a")>
<selenium.webdriver.chrome.webdriver.WebDriver (session="e66258de92d8767e22bbbd86aa01fac3")>
<selenium.webdriver.chrome.webdriver.WebDriver (session="e66258de92d8767e22bbbd86aa01fac3")>
<selenium.webdriver.chrome.webdriver.WebDriver (session="43c35e40a4e0348b71e01a06c985501b")>
<selenium.webdriver.chrome.webdriver.WebDriver (session="43c35e40a4e0348b71e01a06c985501b")>
[[<selenium.webdriver.chrome.webdriver.WebDriver (session="2702ae1d2f5cadc7822bdee42571df5a")>, <selenium.webdriver.chrome.webdriver.WebDriver (session="58b43d9e79ef3a8adb87b2830262e94f")>, <selenium.webdriver.chrome.webdriver.WebDriver (session="e66258de92d8767e22bbbd86aa01fac3")>, <selenium.webdriver.chrome.webdriver.WebDriver (session="43c35e40a4e0348b71e01a06c985501b")>]]

In [4]:
# lance ça

for drivers_list in drivers:
    drivers_list.append(init_drivers()[0][0])
    drivers_list[0] = enter_indeed_parameters(drivers_list[0], job, city)

len_driver 1 [[]]
0
range: 1

In [15]:
#for drivers_list in drivers:
#    del drivers_list[-1]

In [17]:
drivers

[[<selenium.webdriver.chrome.webdriver.WebDriver (session="b3c432c57e41a46dfd25fdbbfcc66b65")>,
  <selenium.webdriver.chrome.webdriver.WebDriver (session="1a12bfb417933cad6900334bee90f4bc")>,
  <selenium.webdriver.chrome.webdriver.WebDriver (session="268ba1047f8df9bf506bf038416163de")>,
  <selenium.webdriver.chrome.webdriver.WebDriver (session="fa8421f581b16a4f20a58b889a86ea52")>,
  <selenium.webdriver.chrome.webdriver.WebDriver (session="03f2702105a65c6fbe9d48b94361c080")>],
 [<selenium.webdriver.chrome.webdriver.WebDriver (session="1470ebd6b79757efd1013a0692bac50e")>,
  <selenium.webdriver.chrome.webdriver.WebDriver (session="e55a0ca062804aba26461bc762062ae8")>,
  <selenium.webdriver.chrome.webdriver.WebDriver (session="9914ed35d4c2cb655d7f5d9a7a573b9c")>,
  <selenium.webdriver.chrome.webdriver.WebDriver (session="e8d691cf730300a9762f23efc54b281a")>,
  <selenium.webdriver.chrome.webdriver.WebDriver (session="68b63ffaa1de31712e71e5aa369407e0")>]]

In [29]:
#for driver_list in drivers:
#    for driver in driver_list:
#        driver.quit()

In [13]:
### Scrap the page data
#drivers = [main_driver, lookup_driver]
get_job_data(drivers[0], verbose=True, bypass=False)

**Time of pre-loop Bypass :**  0.01637578010559082
**Time of scraping in-page elements : ** 0.0969076156616211
**JOBS !!!!!! Time of getting + bypass**: 0.5835366249084473
**REVIEWS !!!!!! Time of getting + bypass**: 0.735973596572876
--------> Time of scrapping company infos**: 1.133584976196289
----> Time of scrapping job infos**:  1.8432717323303223
**Time of scrapping reviews infos**: 0.0
----> Time of eco_score 1.9974429607391357
-------> time of append : 0.0
!! loop_total_time :  2.0949363708496094
**Time of scraping in-page elements : ** 0.06289267539978027
**JOBS !!!!!! Time of getting + bypass**: 0.5443105697631836
--------> Time of reviews :  0.9426569938659668
**REVIEWS !!!!!! Time of getting + bypass**: 1.0735297203063965
Christophe LECOURTIER
201 à 500
----> Time of eco_score 1.8545544147491455
--------> Time of scrapping company infos**: 1.3059325218200684
----> Time of scrapping job infos**:  1.9316205978393555
**Time of scrapping reviews infos**: 0.0
-------> time of append : 0.0
!! loop_total_time :  1.9987263679504395
**Time of scraping in-page elements : ** 0.04864168167114258
**JOBS !!!!!! Time of getting + bypass**: 0.4861602783203125
--------> Time of reviews :  1.0899958610534668
**REVIEWS !!!!!! Time of getting + bypass**: 1.1101248264312744
Daniel Baal
1882
10 000
--------> Time of scrapping company infos**: 1.2906980514526367
----> Time of scrapping job infos**:  1.8686387538909912
**Time of scrapping reviews infos**: 0.0
----> Time of eco_score 1.9661197662353516
-------> time of append : 0.0
!! loop_total_time :  2.0174384117126465
**Time of scraping in-page elements : ** 0.06600403785705566
**JOBS !!!!!! Time of getting + bypass**: 0.524970293045044
----> Time of eco_score 1.5914320945739746
--------> Time of reviews :  1.1412739753723145
**REVIEWS !!!!!! Time of getting + bypass**: 1.218590259552002
Nicolas Namias
2009
10 000
--------> Time of scrapping company infos**: 1.425675630569458
----> Time of scrapping job infos**:  2.0893115997314453
**Time of scrapping reviews infos**: 0.0
-------> time of append : 0.0
!! loop_total_time :  2.15629506111145
**Time of scraping in-page elements : ** 0.09659242630004883
**JOBS !!!!!! Time of getting + bypass**: 0.45987701416015625
**REVIEWS !!!!!! Time of getting + bypass**: 0.5006787776947021
David Zaslav
10 000
--------> Time of scrapping company infos**: 0.7437846660614014
--------> Time of reviews :  0.7729027271270752
----> Time of scrapping job infos**:  1.3076801300048828
**Time of scrapping reviews infos**: 0.0
----> Time of eco_score 1.5456180572509766
-------> time of append : 0.0
!! loop_total_time :  1.6422104835510254
**Time of scraping in-page elements : ** 0.10940885543823242
**JOBS !!!!!! Time of getting + bypass**: 0.5381360054016113
--------> Time of reviews :  1.0152406692504883
----> Time of eco_score 1.58756685256958
**REVIEWS !!!!!! Time of getting + bypass**: 1.0692598819732666
Peter Quigley
1946
5 001 à 10 000
--------> Time of scrapping company infos**: 1.2573611736297607
----> Time of scrapping job infos**:  1.9025001525878906
**Time of scrapping reviews infos**: 0.0
-------> time of append : 0.0
!! loop_total_time :  2.011909008026123
**Time of scraping in-page elements : ** 0.08564233779907227
**JOBS !!!!!! Time of getting + bypass**: 0.4567840099334717
--------> Time of reviews :  0.8976593017578125
**REVIEWS !!!!!! Time of getting + bypass**: 1.0062429904937744
Nicolas Namias
2009
10 000
----> Time of eco_score 1.6313023567199707
--------> Time of scrapping company infos**: 1.2030460834503174
----> Time of scrapping job infos**:  1.741896152496338
**Time of scrapping reviews infos**: 0.0
-------> time of append : 0.0
!! loop_total_time :  1.8275384902954102
**Time of scraping in-page elements : ** 0.0995626449584961
**JOBS !!!!!! Time of getting + bypass**: 0.5235862731933594
**REVIEWS !!!!!! Time of getting + bypass**: 0.5891034603118896
51 à 200
--------> Time of reviews :  0.785128116607666
--------> Time of scrapping company infos**: 0.8806881904602051
----> Time of scrapping job infos**:  1.5179862976074219
**Time of scrapping reviews infos**: 0.0
----> Time of eco_score 1.5545353889465332
-------> time of append : 0.0
!! loop_total_time :  1.6540980339050293
**Time of scraping in-page elements : ** 0.10159873962402344
**JOBS !!!!!! Time of getting + bypass**: 0.5178875923156738
--------> Time of reviews :  0.968930721282959
**REVIEWS !!!!!! Time of getting + bypass**: 0.9936695098876953
Virginie HAUSWALD
----> Time of eco_score 1.5718495845794678
1986
201 à 500
--------> Time of scrapping company infos**: 1.1491680145263672
----> Time of scrapping job infos**:  1.7765064239501953
**Time of scrapping reviews infos**: 0.0
-------> time of append : 0.0
!! loop_total_time :  1.8820819854736328
**Time of scraping in-page elements : ** 0.07857584953308105
**JOBS !!!!!! Time of getting + bypass**: 0.48650622367858887
----> Time of eco_score 1.5477566719055176
--------> Time of reviews :  1.064239740371704
**REVIEWS !!!!!! Time of getting + bypass**: 1.0763769149780273
Jean Castex
1948
10 000
--------> Time of scrapping company infos**: 1.2871472835540771
----> Time of scrapping job infos**:  1.8608386516571045
**Time of scrapping reviews infos**: 0.0
-------> time of append : 0.0
!! loop_total_time :  1.9394145011901855
**Time of scraping in-page elements : ** 0.07272505760192871
**JOBS !!!!!! Time of getting + bypass**: 0.5164186954498291
----> Time of eco_score 1.5256378650665283
--------> Time of reviews :  1.0368154048919678
**REVIEWS !!!!!! Time of getting + bypass**: 1.1337611675262451
Patrick Pouyanné
1924
10 000
--------> Time of scrapping company infos**: 1.3847479820251465
----> Time of scrapping job infos**:  1.9725289344787598
**Time of scrapping reviews infos**: 0.0
-------> time of append : 0.0
!! loop_total_time :  2.0470452308654785
**Time of scraping in-page elements : ** 0.09786438941955566
**JOBS !!!!!! Time of getting + bypass**: 0.5401084423065186
--------> Time of reviews :  0.8702881336212158
----> Time of eco_score 1.5675163269042969
**REVIEWS !!!!!! Time of getting + bypass**: 1.0248386859893799
Michel Mathieu
1863
10 000
--------> Time of scrapping company infos**: 1.1708664894104004
----> Time of scrapping job infos**:  1.7770442962646484
**Time of scrapping reviews infos**: 0.0
-------> time of append : 0.0
!! loop_total_time :  1.8758885860443115
**Time of scraping in-page elements : ** 0.07998275756835938
**JOBS !!!!!! Time of getting + bypass**: 0.5113012790679932
**REVIEWS !!!!!! Time of getting + bypass**: 0.6002833843231201
2002
501 à 1 000
--------> Time of reviews :  0.8303482532501221
--------> Time of scrapping company infos**: 0.850813627243042
----> Time of scrapping job infos**:  1.484377145767212
**Time of scrapping reviews infos**: 0.0
----> Time of eco_score 1.6100056171417236
-------> time of append : 0.0
!! loop_total_time :  1.690830945968628
**Time of scraping in-page elements : ** 0.10799884796142578
**JOBS !!!!!! Time of getting + bypass**: 0.6155910491943359
----> Time of eco_score 1.6299350261688232
**REVIEWS !!!!!! Time of getting + bypass**: 1.0346240997314453
Nicolas Namias
2009
10 000
--------> Time of reviews :  1.091352939605713
--------> Time of scrapping company infos**: 1.2251298427581787
----> Time of scrapping job infos**:  1.9080088138580322
**Time of scrapping reviews infos**: 0.0
-------> time of append : 0.0
!! loop_total_time :  2.0168139934539795
**Time of scraping in-page elements : ** 0.050107717514038086
**JOBS !!!!!! Time of getting + bypass**: 0.4338688850402832
--------> Time of reviews :  0.7270119190216064
----> Time of eco_score 1.739610195159912
**REVIEWS !!!!!! Time of getting + bypass**: 1.3722834587097168
2002
501 à 1 000
--------> Time of scrapping company infos**: 1.660905361175537
----> Time of scrapping job infos**:  2.24542236328125
**Time of scrapping reviews infos**: 0.0
-------> time of append : 0.0
!! loop_total_time :  2.295530080795288
[[('', '')], [('Équilibre vie privée/professionnelle', '3,8'), ('Salaire et avantages', '3,1'), ('Sécurité et évolution', '2,9'), ('Direction', '3,0'), ("Culture d'entreprise", '3,0')], [('Équilibre vie privée/professionnelle', '3,9'), ('Salaire et avantages', '3,7'), ('Sécurité et évolution', '3,6'), ('Direction', '3,5'), ("Culture d'entreprise", '3,8')], [('Équilibre vie privée/professionnelle', '3,5'), ('Salaire et avantages', '3,2'), ('Sécurité et évolution', '3,0'), ('Direction', '2,9'), ("Culture d'entreprise", '3,1')], [('Équilibre vie privée/professionnelle', '3,8'), ('Salaire et avantages', '3,9'), ('Sécurité et évolution', '3,3'), ('Direction', '3,4'), ("Culture d'entreprise", '3,7')], [('Équilibre vie privée/professionnelle', '3,8'), ('Salaire et avantages', '3,2'), ('Sécurité et évolution', '3,1'), ('Direction', '3,5'), ("Culture d'entreprise", '3,6')], [('Équilibre vie privée/professionnelle', '3,5'), ('Salaire et avantages', '3,2'), ('Sécurité et évolution', '3,0'), ('Direction', '2,9'), ("Culture d'entreprise", '3,1')], [('Équilibre vie privée/professionnelle', '5,0'), ('Salaire et avantages', '4,3'), ('Sécurité et évolution', '4,3'), ('Direction', '5,0'), ("Culture d'entreprise", '5,0')], [('Équilibre vie privée/professionnelle', '4,4'), ('Salaire et avantages', '3,5'), ('Sécurité et évolution', '3,0'), ('Direction', '2,7'), ("Culture d'entreprise", '3,5')], [('Équilibre vie privée/professionnelle', '3,4'), ('Salaire et avantages', '3,7'), ('Sécurité et évolution', '3,6'), ('Direction', '3,2'), ("Culture d'entreprise", '3,5')], [('Équilibre vie privée/professionnelle', '3,8'), ('Salaire et avantages', '3,7'), ('Sécurité et évolution', '3,5'), ('Direction', '3,5'), ("Culture d'entreprise", '3,7')], [('Équilibre vie privée/professionnelle', '3,6'), ('Salaire et avantages', '3,4'), ('Sécurité et évolution', '3,4'), ('Direction', '3,1'), ("Culture d'entreprise", '3,3')], [('Équilibre vie privée/professionnelle', '4,3'), ('Salaire et avantages', '3,5'), ('Sécurité et évolution', '3,0'), ('Direction', '2,5'), ("Culture d'entreprise", '3,0')], [('Équilibre vie privée/professionnelle', '3,5'), ('Salaire et avantages', '3,2'), ('Sécurité et évolution', '3,0'), ('Direction', '2,9'), ("Culture d'entreprise", '3,1')], [('Équilibre vie privée/professionnelle', '4,3'), ('Salaire et avantages', '3,5'), ('Sécurité et évolution', '3,0'), ('Direction', '2,5'), ("Culture d'entreprise", '3,0')]]
[['' 'Christophe LECOURTIER' 'Daniel Baal' 'Nicolas Namias'
  'David Zaslav' 'Peter Quigley' 'Nicolas Namias' '' 'Virginie HAUSWALD'
  'Jean Castex' 'Patrick Pouyanné' 'Michel Mathieu' '' 'Nicolas Namias'
  '']
 ['' '' '1882' '2009' '' '1946' '2009' '' '1986' '1948' '1924' '1863'
  '2002' '2009' '2002']
 ['' '201 à 500' '10 000' '10 000' '10 000' '5 001 à 10 000' '10 000'
  '51 à 200' '201 à 500' '10 000' '10 000' '10 000' '501 à 1 000'
  '10 000' '501 à 1 000']
 ['' '' '' '' '' '' '' '' '' '' '' '' '' '' '']
 ['' '' '' '' '' '' '' '' '' '' '' '' '' '' '']]
6
{'', "Culture d'entreprise", 'Sécurité et évolution', 'Équilibre vie privée/professionnelle', 'Direction', 'Salaire et avantages'}
[['', '', '', '', '', ''], ['', '3,0', '2,9', '3,8', '3,0', '3,1'], ['', '3,8', '3,6', '3,9', '3,5', '3,7'], ['', '3,1', '3,0', '3,5', '2,9', '3,2'], ['', '3,7', '3,3', '3,8', '3,4', '3,9'], ['', '3,6', '3,1', '3,8', '3,5', '3,2'], ['', '3,1', '3,0', '3,5', '2,9', '3,2'], ['', '5,0', '4,3', '5,0', '5,0', '4,3'], ['', '3,5', '3,0', '4,4', '2,7', '3,5'], ['', '3,5', '3,6', '3,4', '3,2', '3,7'], ['', '3,7', '3,5', '3,8', '3,5', '3,7'], ['', '3,3', '3,4', '3,6', '3,1', '3,4'], ['', '3,0', '3,0', '4,3', '2,5', '3,5'], ['', '3,1', '3,0', '3,5', '2,9', '3,2'], ['', '3,0', '3,0', '4,3', '2,5', '3,5']]
15
15
15
15
15
15
15
15
15
15

,Titre,Entreprise,Lieu,job_id,url_poste,url_company,Compétences,Salaire,Type de poste,Horaires,...,Score humain,Satisfaction salariale,,Culture d'entreprise,Sécurité et évolution,Équilibre vie privée/professionnelle,Direction,Salaire et avantages,Company name eco,Eco score
0,Data Analyst | POEI,DataScientest,Paris (75),5f6e4282d7a40c8b,https://fr.indeed.com/viewjob?jk=5f6e4282d7a40c8b,https://fr.indeed.com/cmp/Cyber-University,"[UNIX, SQL, Python]",[De 33 000 € à 50 000 € par an],"[CDI, Temps plein, cadre]","[Période de travail de 8 Heures, Travail en jo...",...,,,,,,,,,DataScientest,0
1,Stage - Data Quality Analyst H/F,BUSINESS FRANCE,Télétravail hybride à 75014 Paris 14e,50c4b30fada983c6,https://fr.indeed.com/viewjob?jk=50c4b30fada983c6,https://fr.indeed.com/cmp/Business-France,"[SQL, Power BI, DevOps]",[1 000 € par mois],[Stage],"[Travail en journée, Du lundi au vendredi]",...,,,,"3,0","2,9","3,8","3,0","3,1",BUSINESS FRANCE,0
2,Analyste données / Data analyst - Risque de cr...,CONFEDERATION NATIONALE DU CREDIT MUTUEL,Télétravail hybride à 75017 Paris,eb053460a80567d0,https://fr.indeed.com/viewjob?jk=eb053460a80567d0,https://fr.indeed.com/cmp/Cr%C3%A9dit-Mutuel-A...,"[SPSS, SAS, R]",[De 45 000 € à 60 000 € par an],"[CDI, Temps plein]",[],...,,,,"3,8","3,6","3,9","3,5","3,7",CONFEDERATION NATIONALE DU CREDIT MUTUEL,0
3,Stage (6 mois) – Data Analyst - Paris,BPCE SA,Paris (75),2cd3f482bbe07be8,https://fr.indeed.com/viewjob?jk=2cd3f482bbe07be8,https://fr.indeed.com/cmp/Groupe-Bpce,"[Visualisation de données, SQL, SAS]",[],[Stage],[],...,,,,"3,1","3,0","3,5","2,9","3,2",BPCE SA,0
4,"Analyst, Insights & Analytics (6 Month Materni...",Warner Bros Careers,Neuilly-sur-Seine (92),7b3b83a16b1c1469,https://fr.indeed.com/viewjob?jk=7b3b83a16b1c1469,https://fr.indeed.com/cmp/Warner-Bros.-Discove...,"[Sens de l'organisation, SQL, Python]",[],[Temps plein],[],...,,,,"3,7","3,3","3,8","3,4","3,9",Warner Bros Careers,0
5,Business Analyst Produits (H/F) SANOFI,Kelly TERTIAIRE,94250 Gentilly,e37694f94c021038,https://fr.indeed.com/viewjob?jk=e37694f94c021038,https://fr.indeed.com/cmp/Kelly-06fec076,"[SAP Finance & Controlling\n (Required), Micro...",[De 41 000 € à 42 000 € par an],"[Intérim, Temps plein]",[Période de travail de 8 Heures],...,,,,"3,6","3,1","3,8","3,5","3,2",Kelly TERTIAIRE,0
6,Stage (6 mois) – Data Analyst Risques F/H – Paris,BPCE SA,Paris (75),1a3083cc6474c747,https://fr.indeed.com/viewjob?jk=1a3083cc6474c747,https://fr.indeed.com/cmp/Groupe-Bpce,"[SQL, SAS, Power BI]",[],[Stage],[],...,,,,"3,1","3,0","3,5","2,9","3,2",BPCE SA,0
7,Alternance Data Analyst - Paris (F/H),ISCOD,75008 Paris,184854a05198b3e1,https://fr.indeed.com/viewjob?jk=184854a05198b3e1,https://fr.indeed.com/cmp/Iscod-1,"[Technologies de l'information, Python]",[],"[Alternance, Contrat d'apprentissage]",[],...,,,,"5,0","4,3","5,0","5,0","4,3",ISCOD,0
8,Data Analyst (F/H/X),Garance,Télétravail hybride à 75009 Paris 9e,430fcc75ddc00417,https://fr.indeed.com/viewjob?jk=430fcc75ddc00417,https://fr.indeed.com/cmp/Garance-Mutuelle,"[Service client, Oracle, Azure]",[De 45 000 € à 55 000 € par an],"[CDI, Temps plein]","[Horaires flexibles, Travail en journée, Du lu...",...,,,,"3,5","3,0","4,4","2,7","3,5",Garance,0
9,Business Analyst IT confirmé F/H (DSI/DWS),RATP,Paris (75),97bd465ae6dc2666,https://fr.indeed.com/viewjob?jk=97bd465ae6dc2666,https://fr.indeed.com/cmp/Ratp,[Service client],[À partir de 48 000 € par an],[CDI],[],...,,,,"3,5","3,6","3,4","3,2","3,7",RATP Dev Angers,1
10,STAGE - Business Analyst / Data Analyst - Suiv...,TotalEnergies,Paris (75),83d18b12f2e6bf1d,https://fr.indeed.com/viewjob?jk=83d18b12f2e6bf1d,https://fr.indeed.com/cmp/Totalenergies,[Power BI],[],"[Courte durée jusqu'à 6 mois, Stage]",[],...,,,,"3,7","3,5","3,8","3,5","3,7",TotalEnergies,0
11,Business Analyst Junior H/F,LCL,94811 Villejuif,93c5e7a5de78bd9d,https://fr.indeed.com/viewjob?jk=93c5e7a5de78bd9d,https://fr.indeed.com/cmp/Lcl-1,[Jira],[],[CDI],[],...,,,,"3,3","3,4","3,6","3,1","3,4",LCL,0
12,Data Analyst (h/f),LHH Recruitment Solutions-,Boulogne-Billancourt (92),a29dcb66157ab223,https://fr.indeed.com/viewjob?jk=a29dcb66157ab223,https://fr.indeed.com/cmp/C--log-2,[],[],[CDI],[],...,,,,"3,0","3,0","4,3","2,5","3,5",LHH Recruitment Solutions-,0
13,Business Analyst - F/H,BPCE SA,Télétravail hybride à Paris (75),4b9ad41308364668,https://fr.indeed.com/viewjob?jk=4b9ad41308364668,https://fr.indeed.com/cmp/Groupe-Bpce,"[SQL, Esprit d'analyse, Agile]",[],[CDI],[],...,,,,"3,1","3,0","3,5","2,9","3,2",BPCE SA,0
14,Operations Data Analyst H/F,DASSAULT SYSTEMES,Vélizy-Villacoublay (78),1e1e8751b6dbe752,https://fr.indeed.com/viewjob?jk=1e1e8751b6dbe752,https://fr.indeed.com/cmp/C--log-2,[],[],[CDI],[],...,,,,"3,0","3,0","4,3","2,5","3,5",DASSAULT SYSTEMES,0

In [67]:
import pandas as pd
df = pd.read_csv("indeed_jobs.csv")
df = df[df.columns[:]]
#df.head()
df.shape
#df[df.columns[8:20]]
df

,Unnamed: 0,Titre,Entreprise,Lieu,job_id,url_poste,url_company,Compétences,Salaire,Type de poste,...,Score humain,Satisfaction salariale,Unnamed: 16,Salaire et avantages,Direction,Sécurité et évolution,Équilibre vie privée/professionnelle,Culture d'entreprise,Company name eco,Eco score
0,0,Stagiaire Business analyste H/F,Caisse des Dépôts et Consignations,75007 Paris,0a5180cf20d7d92e,https://fr.indeed.com/viewjob?jk=0a5180cf20d7d92e,https://fr.indeed.com/cmp/Caisse-Des-D%C3%A9p%...,"['VBA', 'Tableau', 'SQL']",[],"['Temps plein', 'Alternance']",...,NaN,NaN,NaN,"4,1","3,6","3,5","4,3","3,8",Caisse des Dépôts et Consignations,0
1,1,Business Analyst Data H/F,Nexton Consulting FR,Paris (75),1f126dcc3b4e4c62,https://fr.indeed.com/viewjob?jk=1f126dcc3b4e4c62,https://fr.indeed.com/cmp/Nexton-Consulting-Fr,[],[],['CDI'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nexton Consulting FR,0
2,2,Data Junior Analyst F/M,Candriam,Paris (75),6c326f925434d075,https://fr.indeed.com/viewjob?jk=6c326f925434d075,https://fr.indeed.com/cmp/Candriam,[],[],"['Temps plein', 'Alternance']",...,NaN,NaN,NaN,"3,9","3,8","3,3","4,1","3,6",Candriam,0
3,3,Data Quality Operations Analyst,Shippeo,75010 Paris,8669b27d32724f26,https://fr.indeed.com/viewjob?jk=8669b27d32724f26,https://fr.indeed.com/cmp/Shippeo-1,[],[],['CDI'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shippeo,0
4,4,Stage (6 mois) – Data Analyst Risques F/H – Paris,BPCE SA,Paris (75),1a3083cc6474c747,https://fr.indeed.com/viewjob?jk=1a3083cc6474c747,https://fr.indeed.com/cmp/Groupe-Bpce,"['SQL', 'SAS', 'Power BI']",[],['Stage'],...,NaN,NaN,NaN,"3,2","2,9","3,0","3,5","3,1",BPCE SA,0
5,5,Data Analyst H/F,Harmonie Mutuelle,Paris (75),d0aea174b26116b1,https://fr.indeed.com/viewjob?jk=d0aea174b26116b1,https://fr.indeed.com/cmp/Harmonie-Mutuelle,"['Systèmes wiki', 'SQL', 'SAS']",[],['CDI'],...,NaN,NaN,NaN,"2,9","2,9","2,6","3,5","3,1",Harmonie Mutuelle,1
6,6,Business Analyst - F/H,BPCE SA,Télétravail hybride à Paris (75),4b9ad41308364668,https://fr.indeed.com/viewjob?jk=4b9ad41308364668,https://fr.indeed.com/cmp/Groupe-Bpce,"['SQL', ""Esprit d'analyse"", 'Agile']",[],['CDI'],...,NaN,NaN,NaN,"3,2","2,9","3,0","3,5","3,1",BPCE SA,0
7,7,Operations Data Analyst H/F,DASSAULT SYSTEMES,Vélizy-Villacoublay (78),1e1e8751b6dbe752,https://fr.indeed.com/viewjob?jk=1e1e8751b6dbe752,https://fr.indeed.com/cmp/C--log-2,[],[],['CDI'],...,NaN,NaN,NaN,"3,5","2,5","3,0","4,3","3,0",DASSAULT SYSTEMES,0
8,8,Stage (6 mois) – Data Analyst - Paris,BPCE SA,Paris (75),2cd3f482bbe07be8,https://fr.indeed.com/viewjob?jk=2cd3f482bbe07be8,https://fr.indeed.com/cmp/Groupe-Bpce,"['Visualisation de données', 'SQL', 'SAS']",[],['Stage'],...,NaN,NaN,NaN,"3,2","2,9","3,0","3,5","3,1",BPCE SA,0
9,9,STAGE - Business Analyst / Data Analyst - Suiv...,TotalEnergies,Paris (75),83d18b12f2e6bf1d,https://fr.indeed.com/viewjob?jk=83d18b12f2e6bf1d,https://fr.indeed.com/cmp/Totalenergies,['Power BI'],[],"[""Courte durée jusqu'à 6 mois"", 'Stage']",...,NaN,NaN,NaN,"3,7","3,5","3,5","3,8","3,7",TotalEnergies,0
10,10,Job offer Artificial Intelligence Business Ana...,BNP Paribas,Télétravail hybride à Paris (75),3a454822b5053d90,https://fr.indeed.com/viewjob?jk=3a454822b5053d90,https://fr.indeed.com/cmp/Bnp-Paribas,"['Python', 'Opérations bancaires', 'NLP']",[],"['CDI', 'Temps plein']",...,NaN,NaN,NaN,"3,7","3,4","3,5","3,8","3,7",BNP PARIBAS,1
11,11,Business Analyst IT confirmé F/H (DSI/DWS),RATP,Paris (75),97bd465ae6dc2666,https://fr.indeed.com/viewjob?jk=97bd465ae6dc2666,https://fr.indeed.com/cmp/Ratp,['Service client'],['À partir de 48 000 € par an'],['CDI'],...,NaN,NaN,NaN,"3,7","3,2","3,6","3,4","3,5",RATP Dev Angers,1
12,12,DATA ANALYST CDI H/F,GAN ASSURANCES,Nanterre (92),f6bc18709c8a7f57,https://fr.indeed.com/viewjob?jk=f6bc18709c8a7f57,https://fr.indeed.com/cmp/C--log-2,"['SQL', 'SAS']",[],['CDI'],...,NaN,NaN,NaN,"3,5","2,5","3,0","4,3","3,0",GAN ASSURANCES,0
13,13,Job offer Data Analyst Business Intelligence -...,BNP Paribas,Télétravail hybride à Montreuil (93),ebd755046b9c7960,https://fr.indeed.com/viewjob?jk=ebd755046b9c7960,https://fr.indeed.com/cmp/Bnp-Paribas,"['SQL', 'Power BI', 'Microsoft SQL Server']",[],"['CDI', 'Temps plein']",...,NaN,NaN,NaN,"3,7","3,4","3,5","3,8","3,7",BNP PARIBAS,1
14,14,Business Analyst Junior H/F,LCL,94811 Villejuif,93c5e7a5de78bd9d,https://fr.indeed.com/viewjob?jk=93c5e7a5de78bd9d,https://fr.indeed.com/cmp/Lcl-1,['Jira'],[],['CDI'],...,NaN,NaN,NaN,"3,4","3,1","3,4","3,6","3,3",LCL,0